* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Background Color*/
.container2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 460px;
    height: 680px;
    text-align: center;
    border: 1px solid white;
    border-radius: 25px;
    z-index: -99;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
}

body {
    background-color: whitesmoke;
    z-index: -1;
    font-family: 'Nunito', sans-serif;

}

/*Register Title*/
#main-title {
    color: black;
    margin-top: 75px;
    letter-spacing: 5px;

}

/*Icons Attributes*/
.icon {
    font-size: 25px;
    border: 1px solid lightslategray;
    ;
    border-radius: 50px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    justify-content: space-between;

}

#icon-google {
    color: #942424;
    width: 45.61px;
}

#icon-yandex {
    color: #7934b2;
    width: 45.61px;
}

#icon-facebook {
    width: 45.61px;
    color: #3b5998;
}

/*Inputs Attributes*/
input {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    height: 40px;
    margin-top: 25px;
}

.input-item {
    /* background-color: #F0F0F0; */

    background-color: rgb(237, 237, 237);
}

/*Buttons Attributes*/
#create-button {
    background-color: #FF00FF;
    border: 1px solid #FF00FF;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    letter-spacing: 2px;
}

#create-button:hover {
    color: #FF00FF;
    background-color: white;
}

/*Links Attributes*/

span {
    display: inline-block;
}

.main-description {
    opacity: 0.3;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

/*RESPONSIVE DESIGN*/

@media only screen and (min-device-width : 280px) and (max-device-width : 430px) {

    .input-item {
       margin: auto -30%;
    }

    .container2 {
        width: 500px;
        height: 1000px;
    }

    #create-button {
        margin: auto -30%;
    }

    .main-description {
        margin: auto -50%;
    }

}

@media only screen and (max-width: 600px) {
    
    .main-description {
        font-size: 15px;
    }

    .container2 {
        width: 400px;
        height: 650px;
    }

    .input-item {
        width: 130px;
        height: 40px;
    }

    #create-button {
        width: 130px;
        height: 40px;
    }

    #create-button {
        font-size: 10px;
        letter-spacing: 1px;
        border-radius: 30px;
    }

    .icon {
        font-size: 21px;
    }
}

@media only screen and (min-width : 601px) and (max-width: 768px) {
    
    #create-button {
        font-size: 11px;
        letter-spacing: 0px;
        border-radius: 25px;
    }

    .icon {
        font-size: 23px;
    }

    .main-description {
        font-size: 14px;
    }
}

@media only screen and (min-width : 769px) and (max-width: 991px) {
    
    #create-button {
        font-size: 14px;
        padding-bottom: 10px;
        letter-spacing: 1px;
        border-radius: 25px;

    }

    .main-description {
        font-size: 16px;
    }
}